<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

      .main-head{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top:90px;
        color: white;
      }

      body{
        background-color: rgba(32, 50, 85, 0.917);
      }

      .main-content {
        background-color: rgb(53, 87, 118);
        color: white;
        text-align: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        justify-content: center;
        padding: 5rem;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        border-radius: 0.5rem;
      }
      .button-style {
        background-color: white;
        font-family: 'Poppins', sans-serif;
        color: rgba(35, 14, 191, 0.856);
        padding: 2rem;
        border-radius: 0.5rem;
      }

      .foot{
        color: white;
        bottom: 0;
        right:2%;
        position: absolute;
        line-height: 13px;
      }

      .foot-head{
        right: 10%;
        position: relative;
      }
    </style>
  </head>
  <body>
    <h1 class="main-head">Small Business Network Design with Guest Network</h1>
    <div class="main-content">
      <div>
        <h1>FTP Server</h1>
      </div class="col-md-12">
      <form>
      <div class="button-style col-md-6">
        <a style="color: inherit; text-decoration: none" href="/ftp"
          >FTP server</a
        >
      </div>
      <br>
      <div class="button-style col-md-6">
        <a style="color: inherit; text-decoration: none" href="/upload"
          >Upload</a
        >
      </div>
    </form>
    </div>
  </body>
  <footer class="foot">
    <h3 class="foot-head">Made by</h3>
    <p>R Abhiram Kumar</p>
    <p>Adarsh Begur</p>
    <p>Shivacharan Reddy</p>
    <p>Karshin</p>
  </footer>
</html>
